body {
    background-color: rgb(240, 240, 240);
}

.register-login-text {
    font-size: 50px;
    padding-left: 400px;
}

.register-login-field {
    font-size: 25px;
    padding-left: 405px;
    margin-right: 600px;
}

.register-login-btn {
    margin-top: 20px;
}

.one-tshirt img {
    padding-top: 70px;
    height: 320px;
}

.tshirt-name {
    font-weight: bold;
    font-size: 17px;
    color: rgb(102, 163, 187);
    margin-top: 10px;
}

.tshirt-details-name {
    font-weight: bold;
    font-size: 20px;
    color: rgb(102, 163, 187);
    margin-top: 8px;
}

.tshirt-details-price {
    font-weight: bold;
    font-size: 20px;
    color: rgb(45, 45, 45);
    margin-top: 6px;
}

.tshirt-details {
    padding-top: 60px;
}

.add-to-cart-btn {
    margin-top: 10px;
    margin-left: 60px;
}

.your-cart {
    font-size: 50px;
    color: rgb(102, 163, 187);
}

.buy-button {
    text-align: right;
    margin-right: 5px;
    margin-top: 20px;
}

.total-price {
    font-size: 30px;
}

.order-made {
    font-size: 30px;
    color: rgb(102, 187, 106);
    margin-top: -15px;
}