body {
    background-color: rgb(240, 240, 240);
}

.register-login-text {
    font-size: 50px;
    padding-left: 400px;
}

.register-login-field {
    font-size: 25px;
    padding-left: 405px;
    margin-right: 600px;
}

.register-login-btn {
    margin-top: 20px;
}

.one-tshirt img {
    padding-top: 70px;
    height: 320px;
}

.tshirt-name {
    font-weight: bold;
    font-size: 17px;
    color: rgb(102, 163, 187);
    margin-top: 10px;
}